/* INIT */
body{width:100%;min-height:100%;font-family: 'Raleway', sans-serif;font-size: 14px;-webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
a:hover{color: #FAAB4C;}

/* BACKGORUND COLOR */
.bg-orange {background-color: #FAAB4C;}
.bg-gray{background-color: rgba(117, 117, 117, 0.2)!important;}
.bg-blue {background-color: #31708f;}
.bg-yellow {background-color: #F7CB42;}
.bgcolor {background-color: rgba(236, 236, 236, 0.8);}
.bgcolor-dark {background-color: rgba(0, 0, 0, 0.39);}
.bg-gradient-yellow {background: linear-gradient(to bottom,#00000061 50%,#f7cb4287 100%);height: 100%;}
.bg-gradient-grey {background: linear-gradient(to bottom,#c1c1c18a 15%,#c1c1c199 25%,#989898e8 100%);}
.bg-gradient-orange {background: linear-gradient(40deg,#ffd86f,#fc6262)!important;}
.mdb-color.orange {background-color: #f77808!important;}
.bg-gradient-insta {background: linear-gradient(-135deg,#B23CAC,#D72E7D,#FF803B,#FFC775);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

/* COLORS TEXT */
.white-text {color: #FFF;}
.gray-text {color: #9A9A9A;}
.softgreen-text {color: #CEF6AA;}
.dark-text {color: #333;}
.text-shadow {text-shadow: 1px 1px #000;}
.blue-text {color: #49ADDA;}
.yellow-text {color: #F7CB42!important;}
.widget-tabs{box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}
.orange-text {color:#FFC897;}
.softyellow-text {color: #F1F4C0;}
.softyellow-text a:hover {color: #FFC59B;}
.bg-gradient-text-yellow {background: linear-gradient(-170deg,#5d5c26,#ffc107,#ff5a00);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

/* BASICS */
.bold {font-weight: bold;}
.f-4 {font-size: 4em;}
.f-1 {font-size: 100%;}
.f1-5 {font-size: 150%;}
.mt-6 {margin-top: 6rem;}
.mt-10 {margin-top: 10rem;}
.mb-10 {margin-bottom: 10rem;}
.pb-0 {padding-bottom: 0px;}
.text-linet {text-decoration: line-through;}
.middle-vertical {display: flex;align-content: center;justify-content: center;flex-direction: column;}
.center{text-align: -webkit-center; text-align: -moz-center;display: block;}

/* EDITS */
/* /images/jumbotron-yellow.jpg */
.jumbotron-home {height: 850px;background-color: aliceblue;padding: 0px!important;margin-bottom: 0;background-image: url(/images/jumbotron-home.jpg);background-size: cover;background-position: center;}
.jumbotron-packages {height: 500px;background-color: aliceblue;padding: 0px!important;margin-bottom: 0;background-image: url(/images/jumbotron-packages.jpg);background-size: cover;background-position: center;}
.jumbotron-traslados {height: 600px;background-color: aliceblue;padding: 0px!important;margin-bottom: 0;background-image: url(/images/jumbotron-traslados.jpg);background-size: cover;background-position: center;}
.review-block {background-color: white;padding: 15px;border: 1px solid #dee2e6;border-radius: 6px;}
.nav-list li:hover{background-color: rgba(255, 255, 255, 0.4117647058823529);border-radius: 3px;}
.card-detail:hover {box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}


/* BOX-SOCIAL */
#box-social h4 {text-align: center;}
#box-social .social-icons ul li a {padding: 5px;padding-top: 4px;}
.social-icons {margin-top: 0px;}

.content-social-box {float: right;}
#box-social .social-icons ul li a {border-radius: 4px;height: 35px;width: 35px;font-size: 20px;display: block;background-color: #fff;}
.social-icons {margin-top: 30px;text-align: center;}
.social-icons ul {list-style: none;display: inline-block;}
.social-icons ul li {float: left;margin-right: 8px;}
#box-social .social-icons ul li a i {margin-top: 6px;}
.social-icons ul li a:hover {opacity: 1;-webkit-transform: scale(1.2);transform: scale(1.2);}
.box-social {margin-top: 18px;font-size: 25px;}
i.fa.fa-instagram {
    background: linear-gradient(-135deg,#B23CAC,#D72E7D,#FF803B,#FFC775);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a.twitter {color: #00A1EC;}
a.twitter:hover {color: #0095DA;}
a.facebook {color: #365A93;}
a.facebook:hover {color: #3B68AC;}

/* CLASES PARA BOOTSTRAP 4*/
.bg-tabs-home{
  background: rgba(255, 255, 255, 0.58);
    border: 1px solid rgba(247, 203, 66, 0.36);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.tabsform .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 4px solid #ad9914;
    font-size: 18px;
    font-weight: bold;
}
.tabsform .nav-item a {
    color: #495057;
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 4px solid #afafaf;
    font-size: 18px;
}
.widget-content .widget-tabs {
    padding: 7px;
    font-size: 13px;
    word-wrap: break-word;
}
.widget-content .nav-tabs {
    border: 0;
    position: relative;
    border-radius: 2px;
}
.nav-tabs .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 0;
}
.widget-content .nav-item a {
    cursor: pointer;
    text-decoration: none;
}
.nav-tabs .nav-link.active {
    background-color: rgba(255,255,255,.2);
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
}
.nav-tabs .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 0;
    color: #fff;
    font-weight: bold;
}
.navbar-dark .navbar-nav .navbar-item a:hover{
  background-color: rgba(255, 255, 255, 0.38823529411764707);
}
.widget-content .single-post {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.5rem;
}
.widget-content .view {
    margin-bottom: 1.5rem;
}
.view:not(.zoom) {
    overflow: visible;
}
.view {
    position: relative;
    cursor: pointer;
}
.rgba-white-slight {
    background-color: rgba(255,255,255,.1);
}
.widget-content .single-post h6:hover {
    color: #b39e4c;
    cursor: pointer;
}
.widget-content .widget-tabs-content {box-shadow: 0 0px 3px 0 rgba(0,0,0,0.18), 0 1px 0px 0 rgba(0,0,0,.15);}
.tab-content{margin: 0.4rem 0 1.7rem;padding: 5px}
.zoom:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.bg-pic {
    background-image: url(http://travel-time.cmsmasters.net/wp-content/uploads/2016/04/romantic-getaway.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card{background-color: rgba(255, 255, 255, 0.34901960784313724);}
/* MEDIA QUERIES */
