.bg-tabs-home{
    background: rgba(255, 255, 255, 0.58);
    border: 1px solid rgba(247, 203, 66, 0.36);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* margin-left:11em; */
}
.mt-5 {margin-top: 5rem;}
.mt-2 {margin-top: 2rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-5 {margin-bottom: 5rem;}

.title-bazinga{
    color:white;
}
.title-bazinga h3{
    text-align: center;
    font-size: 45px !important;
    margin-bottom:.5em;
    font-weight:600;
    text-transform: uppercase;
}

.title-bazinga p{
    font-size: 14px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 1px;
    color: #d3d8d8;
}