/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/
/* -- TOP HEADER */
.top-middle li {
    display: inline-block;
}
.top .top-left,.top  .top-middle,.top  .top-right {
    padding: 0px;
}
.top-left li {
    display: inline-block;
	color:#fff;
    /* margin-right: 2em; */
	letter-spacing: 1px;
	font-size: 1.3em;
	margin-bottom: 1em
}
.top {
    padding: 15px 0;
    position: absolute;
    z-index: 999;
    width: 100%;
}
.top-middle {
	text-align:right;
}
.top-left p{
	color:#fff;
    font-size: 16px;
    margin-top: 3px;
}
.top-left i.fa {
    margin-right: 2px;
    color: #ff4f81;
    font-size: 25px;
    vertical-align: middle;
}
span {
    color: #000;
}
.top-middle li {
    margin-left: 15px;
}
.top-middle .fa-facebook {
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    width: 30px;
    height: 30px;
}
.top-middle .fa-facebook:hover {
    background: #527dbd;
    color: #ececec;
    border: 1px solid #527dbd;
}
.top-middle .fa-twitter {
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    width: 30px;
    height: 30px;
}
.top-middle .fa-twitter:hover {
    background: #1da1f2;
    color: #ececec;
    border: 1px solid #1da1f2;
}
.top-middle .fa-google-plus {
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    width: 30px;
    height: 30px;
}
.top-middle .fa-google-plus:hover {
    background: #dd4b39;
    color: #ececec;
    border: 1px solid #dd4b39;
}
.top-middle .fa-linkedin {
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    width: 30px;
    height: 30px;
}
.top-middle .fa-linkedin:hover {
    background: #0077b5;
    color: #ececec;
    border: 1px solid #0077b5;
}
.top-middle i.fa {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/* -- //TOP HEADER */

/*-- header --*/
/*-- Index-Page-Styling --*/
.agileinfo-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
/*-- Top-Bar --*/
.header{
	position:relative;
}
.header-nav{
	position:relative;
}
.top-bar {
    position: absolute;
    z-index: 999;
    background: rgba(255, 255, 255, 0.58);
    top: 8%;
    width: 100%;
}
/*-- Logo --*/
.logo {
	width: 60%;
	float: left;
}
.logo a {
	font-size: 40px;
	font-weight: bolder;
	color: #EEE;
}
.logo a:hover {
	color: #FFF;
}
/*-- //Logo --*/
/*-- Info --*/
.info {
	width: 40%;
	float: left;
	padding-top: 20px;
}
.info .email, .info .phone {
	width: 50%;
	float: left;
}
.info p {
	color: #EEE;
	font-size: 13px;
}
.info a {
	color: #FFF;
}
.info a:hover {
	color: #009688;
}
.info span.glyphicon {
	margin-right: 5px;
}
.navbar-brand {
    line-height: 0px !important;
}
.navbar-brand {
   float: none;
}
nav.linkEffects.linkHoverEffect_12 ul {
    margin-top: 6px;
}
.dropdown-menu > li > a {
    padding: 0px;
}
/*-- //Info --*/
/*-- //Top-Bar --*/
/*-- Slider --*/
#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}
.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
/* .callbacks_container {
    position: relative;
    float: none;
    width: 100%;
} */
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 326px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
  left: auto;
    background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left:22px;
}
.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}
#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}
#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}
#slider-pager a {
	padding: 0;
}
#slider-pager li {
	display: inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}
.rslides li {
	position: relative;
	display: block;
	float: none;
}
.rslides img {
	height: auto;
    width: 100%;
	border: 0;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 80%;
	z-index: 999;
	left: 11%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
}
.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}
.callbacks_tabs a {
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	width:12px;
	height: 12px;
	display: inline-block;
	background: #fff;
	border: none;
	border-radius: 50%;
}
.callbacks_here a:after {
	background: #ff4f81;
}
.slider-info {
    position: absolute;
    top: 22em;
    z-index: 999;
    left: 13em;
    width: 50%;
    height: 100%;
}
.slider-info {
    position: static; 
    width: 100%;
    min-height:800px;
    /* padding: 120px 0 !important; */
	background: url(../images/cancun-1.jpg) no-repeat 0px 0px;
	/* background: url(../images/s1.jpg) no-repeat 0px 0px; */
    background-size: cover;
}

.cspio-headline {
    font-family: 'Pacifico';
    font-weight: 400;
    font-style: ;
    font-size: 48px;
    color: #ffffff;
    line-height: 1.00em;
}
.slider-info1 {
    position: static; 
    width: 100%;
    min-height:800px;
    padding: 320px 0;
	background: url(../images/cancun-22.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.slider-info2 {
    position: static; 
    width: 100%;
    min-height:800px;
    padding: 320px 0;
	background: url(../images/cancun-33.jpg) no-repeat 0px 0px;
	background-color: rgba(0,0,0,0.2);
	background-size: cover;
}
.slider-info img,.slider-info1 img,.slider-info2 img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 2.5em;
}
.slider-info1 h3, .slider-info2 h3 {
    font-size: 45px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    /* margin: 20px 0px; */
    width: 50%;
    margin-left: 4em;
    margin-bottom: .5em;
}

.slider-info1 p, .slider-info2 p {
    font-size: 14px;
    font-weight: 100;
    color: #d3d8d8;
    margin-left: 13em;
    line-height: 28px;
    letter-spacing: 1px;
    width: 50%;
}
.slider-info h4 {
    font-size: 45px;
    color: #b56d10;
	letter-spacing: 3px;
	text-transform:uppercase; 
	margin-top: 7px;
}
h6 {
	margin:0 auto;
	z-index:999;
}
h6 a{
	cursor:pointer;
	font-size:15px;
	text-transform:uppercase;
}
.slider-top span{
font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0 3px;
}
/*-- //Slider --*/
.navbar {
  margin-bottom: 0;
}
.navbar-nav {
  float: right;
}
.navbar-default {
  background:none;
  border-color: #012231;
}
.navbar-default .navbar-brand {
	color:#000 !important;
    font-size: 35px;
    font-weight: 600;
	text-decoration: none;
}
a.navbar-brand img {
    display: inline-block;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
    float: left;
    margin-left: 20em;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
	text-decoration: none;
}
a.navbar-brand span {
    color: #146eb4;
}
.navbar {
    position: relative;
    min-height: inherit;
}
.navbar-header {
    margin-top: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2FD828;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 16px;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand {
    height: 0;
    padding: 0;
	}
.navbar{
    border-radius: 0px; 
	border:none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus ,.navbar-default .navbar-nav > li > a.active{
    color:#EFA52C;
	}
.navbar {
    border-radius: 0px;
    border: none;
    padding: 10px 0px;
}
/*-- //nav-bar --*/
/*-- //nav --*/
/* Effect 15: scale down, reveal */
.cl-effect-15 a {
    color: #ff4f81;
    text-shadow: none;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 2px;
}
.cl-effect-15 a::before {
	color: #168eea;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
nav#cl-effect-15 ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
/*-- search --*/
.w3ls_search{
	position:relative;
}
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
/*-- w3layouts --*/
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}
/*-- header-contact --*/
.agileits-contact-info {
    float: left;
    width: 33%;
    margin-top: 10px;
}
.agileits-contact-info ul li {
    display: inline-block;
    font-size: 15px;
}
.agileits-contact-info ul li span {
    left: -0.5em;
    color: #168eea;
	font-size: 14px;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 25px;
}
.agileits-contact-info ul li a {
    color: #000;
    vertical-align: text-bottom;
}
.agileits-contact-info ul li a:hover {
    color: #139596;
}
/*-- header-contact --*/
.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: -56px;
    right: 0px;
}
.cd-header-buttons li {
	display: inline-block;
}
.cd-search-trigger, .cd-nav-trigger {
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	z-index: 3;
	background: #ff4f81;
}

.cd-search-trigger::before, .cd-search-trigger::after {
	/* search icon */
	content: '';
	position: absolute;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-search-trigger::before {
	top: 11px;
	left: 11px;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
/*-- agileits --*/
	border:3px solid #fff;
}
.cd-search-trigger::after {
	/* handle */
	height: 3px;
	width: 8px;
	background: #fff;
	bottom: 14px;
	right: 11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span {
	/* container for the X icon */
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
	/* close icon */
	content: '';
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 22px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -11px;
	background:#fff;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
	/* hide search icon */
	-moz-opacity: 0;
	opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
	/* show close icon */
	-moz-opacity: 1;
	opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 3px 0 #ff4f81, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 0 #ff4f81, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 0 #ff4f81, 0 3px 6px rgba(0, 0, 0, 0.05);
    font-size: 1.2em;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 1px;
}
.cd-search input::-webkit-input-placeholder {
	color: #fff !important;
}
.cd-search input::-moz-placeholder {
	color: #fff !important;
}
.cd-search input:-moz-placeholder {
	color: #fff !important;
}
.cd-search input:-ms-input-placeholder {
	color: #fff !important;
}
.cd-search input:focus {
	outline: none;
}
.cd-search.is-visible {
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
/*-- //search --*/
.readmore-w3 a {
    border: 1px solid #146eb4;
    background: #146eb4;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    margin: 3.5em 0 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.readmore-w3 a:hover{
	color:#fff;
	border-color:#ff4f81;
	background:#ff4f81;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #000;
    text-align: center;
    font-size: 30px;
    margin-bottom: .5em;
}
.modal-content h5 {
    color: #FFC107;
    padding-top: 15px;
    font-size: 22px;
}
.modal-content p{
	color:#636363;
	font-size:14px;
	line-height:25px;
	    padding-top: 10px;
}
.modal-header {
    padding: 30px;
}
/*--//modal--*/
/*-- //Banner-Slider --*/

/* About */
.gallery,.services,.video-info,.team,.contact,.testimonials,.about {
    padding: 50px 0;
	display:block;
}
h3.heading,h2.heading {
    font-size: 40px;
    color: #000;
    text-align: center;
    margin-bottom: 35px;
}
.about-left p {
    font-size: 14px;
    color: #212121;
    line-height: 28px;
    margin: 20px 0;
    letter-spacing: 0px;
    padding: 0;
    margin-right: 100px;
}
.about span{
    font-size: 86px;
    width: 12%;
    padding: 0;
    color: #ff4f81;
}
.about img {
    width: 100%;
}
.about-right{
	position:relative;
    padding: 0;
    border: 14px solid #fff;
	-webkit-box-shadow: -2px 5px 35px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 5px 35px 2px rgba(0,0,0,0.75);
	box-shadow: -2px 5px 35px 2px rgba(0,0,0,0.75);
}
.about-right1 {
    position: absolute;
    left: -100px;
	width:500px;
    bottom: -60%;
    border: 14px solid #fff;
    -webkit-box-shadow: -9px 11px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 11px 24px -9px rgba(0,0,0,0.75);
    box-shadow: -9px 11px 24px -9px rgba(0,0,0,0.75);
}
.about-right2 {
    position: absolute;
    right: -60px;
	width:300px;
	height:300px;
    bottom: -46%;
    border: 14px solid #fff;
	-webkit-box-shadow: -2px 2px 35px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 2px 35px 5px rgba(0,0,0,0.75);
	box-shadow: -2px 2px 35px 5px rgba(0,0,0,0.75);
}

/* //About */

/* testimonials */
.testimonials h4, h5 {
    font-size: 25px;
    color: #146eb4;
}
.w3l-info1 h1{
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
	line-height:1.4em;
	letter-spacing:0.2em;
    font-weight: 900;
}
.w3l-info1 p {
    font-size: 14px;
    color: #212121;
    line-height: 28px;
    margin-top: 20px;
    padding-right: 60px;
}
.flexslider .slides img {
    background: #999;
    width: 230px;
    height: 230px;
    margin: 0 auto;
}
.w3l-info1 h3 {
    font-size: 3em;
	color:#999;
}
.testimonials h5 {
    font-size: 16px;
    color: #999;
	margin-top:10px;
}
.testimonials .col-md-9 {
	padding-left:0px;
	padding-right:0px;
}
.flexslider .slides > li {
    display: block;
}
/* //testimonials */

/*--footer--*/
.footer h4 {
    margin-bottom: 15px;
    font-size: 23px;
    color: #fff;
}
.phone h4 {
    color: #fff;
}
.ftr-grid.ftr-mid ul li {
    display: inline;
}
.ftr-grid.ftr-mid ul li a {
   padding:10px;
}
.ftr-grid {
    padding: 28px 0px;
    background: #146eb4;
	padding-left:200px;
}
.ftr-mid {
    padding: 28px 100px;
    background: #ff4f81;;
}
.ftr-rit {
    padding: 28px 50px;
	padding-right:200px;
}
.footer {
    background: #000;
}
.address i.fa {
    font-size: 25px;
    color: #fff;
}
.address p {
    color: #d4d4d4;
    line-height: 28px;
    letter-spacing: 0px;
    font-size: 14px;
}
.address p a {
    color: #d4d4d4;
}
.phone p {
    color: #fff;
    line-height: 28px;
    letter-spacing: 0px;
    font-size: 14px;
}
/*--//footer--*/

/*map */
iframe {
    width: 100%;
    height: 400px;
    border: none;
}
.map{
    height: 400px;
}

/* //map */
.footer-w3layouts {
    padding: 1em 0;
    background: #232323;
}
.footer-w3layouts p {
    padding: 1em 0;
    text-align: center;
    color: #BBBBBB;
    margin: 0;
}
.agile-copy a {
    color: #fff;
}
.agile-copy a:hover{
    color: #146eb4;
}
.agile-copy {
    float: left;
}
.agileits-social {
    float: right;
    margin: .8em 0;
}
.agileits-social ul {
    padding: 0;
    margin: 0;
}
.agileits-social ul li a i.fa {
    height: 30px;
    width: 30px;
    background: #333;
    line-height: 30px;
    color: #000618;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-social ul li a {
    color: #333;
    text-align: center;
}
.agileits-social ul li:nth-child(2) {
    margin: 0 .5em;
}
.agileits-social ul li {
    display: inline-block;
}


.form-group {
    margin-bottom: 14px;
}
.contact h3.heading{
	color:#fff;
}
.contact label {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.contact input#name, .contact input#phone, .contact input#email {
    height: 50px;
}
.contact input#name, .contact input#phone, .contact input#email, .contact textarea#message {
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.43);
    outline: none;
    margin-bottom: 30px;
}
.form-control ,.btn{
	border-radius:0;
}
.contact input#name, .contact input#phone,.contact input#email,.contact textarea#message {
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.43);
    outline: none;
    margin-bottom: 20px;
}
.contact button.btn.btn-primary {
    width: 24%;
    margin: 0 auto;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    display: block;
    background-color: #ff4f81;
    border-color: #ff4f81;
    outline: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
}
.contact button.btn.btn-primary:hover{
    background-color: #146eb4;
    border-color: #146eb4;
}
.contact {
    background: url(../images/contact.jpg) no-repeat 0px 0px;
	background-size:cover;
	background-attachment:fixed;
}


/*-- team --*/
.w3_agile_team_grid_left{
	float: left;
    border-right: 2px solid #ec9114;
    width: 8%;
    margin: 3em 0 0;
}
.w3_agile_team_grid_left p{
	font-size:1em;
	color:#212121;
	font-weight:600;
}
.w3_agile_team_grid_left span{
	display:block;
	font-size:1em;
	color:#999;
	margin:1em 0 0;
}
.w3_agile_team_grid_right{
	float: right;
    width: 85%;
}
.w3_agile_team_grid_right h3{
	font-size:2em;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
}
.w3_agile_team_grid_right h3 span,.stats-bottom-banner h3 span,.agileits_services_bottom_grid h3 span{
	color:#0accff;
}
.w3_agile_team_grid_right p{
	margin: 0.5em 0 0;
    color: #999;
    line-height: 2em;
    width: 60%;
}
.agileits_w3layouts_team_grid img {
    margin: 0 auto;
}
.agileits_w3layouts_team_grids{
	margin:3em 0 0;
}
.agileits_w3layouts_team_grid{
	text-align:center;
}
.agileits_w3layouts_team_grid h3{
	font-size:20px;
	color:#146eb4;
	font-weight:600;
}
.agileits_w3layouts_team_grid p{
	color: #ec9114;
}
.w3_agileits_social_icons {
    margin: 15px 0 25px;
}
.agileinfo_social_icons li {
    display: inline-block;
}
.agileinfo_social_icons li a {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid #bfbfbf;
}
.agileinfo_social_icons li a i {
    line-height: 2.7em;
}
.w3_agileits_facebook {
    color: #3b5998;
}
.w3_agileits_facebook:hover {
    background: #3b5998;
}
.wthree_twitter {
    color: #1da1f2;
}
.agileinfo_google {
    color: #dd4b39;
}
.agileinfo_google:hover {
    background: #dd4b39;
}
.agileits_pinterest {
    color: #bd081c;
}
.wthree_twitter:hover {
    background: #1da1f2;
}
.agileits_pinterest:hover {
    background: #bd081c;
}
.agileinfo_social_icons li a:hover {
    color: #fff;
}
/*-- //team --*/


.video-info h3.heading1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.video-info p {
    margin: 20px auto 60px;
    width: 60%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
}
.center-container {
    background: rgba(0, 0, 0, 0.45);
}
.readmore-w3 {
    float: left;
    margin-left: 13em;
}
.video-info ul li {
    display: inline-block;
    font-size: 1em;
}
.video-info ul li a {
    padding: 10px 40px;
    text-decoration: none;
    color: #212121;
}
.w3l_contact, .w3ls_more:hover {
    border: 2px solid #fff;
    color: #ffffff !important;
    background: none;
}
.w3ls_more, .w3l_contact:hover {
    border: 2px solid #146eb4;
    background: #146eb4;
    color: #fff !important;
}
.video-info {
    text-align: center;
    padding: 100px 0;
    margin-top: 50px;
}
/*-- Services --*/
.approach h3, .portfolio h3, .services h3, .contact h3 {
	margin-bottom: 50px;
	text-align: center;
}
.services-info {
	padding: 0;
}
.services-info-1, .services-info-2, .services-info-3 {
	margin-bottom: 100px;
}
.w3layouts i.fa {
    font-size: 45px;
    color: #4CAF50;
}
i.fa.fa-plane {
    color: #f13d00;
}
i.fa.fa-cutlery {
    color: #03A9F4;
}
i.fa.fa-subway {
    color: #03A9F4;
}

i.fa.fa-motorcycle {
    color: lightseagreen;
}

i.fa.fa-bed {
    color: lightseagreen;
}
i.fa.fa-ship {
    color: #5d4545;
}
i.fa.fa-taxi {
    color: #E91E63;
}
.services-info-3 img {
	margin-left: -20px;
}

.services-info h4 {
	margin-top: 20px;
	font-size: 17px;
	/*--w3layouts--*/
	/*--agileits--*/
	color: #000;
	font-weight: 600;
	text-align: left;
}
.services-grid-2 h4, .services-grid-2 h5 {
	text-align: left;
	color: #9c9c9c;
	font-size: 17px;
	font-weight: 300;
	line-height: 35px;
    padding-bottom: 35px;
    border-bottom: 3px solid #ff4f81;
}
.services-grid-2 p {
	padding-top: 30px;
	padding-bottom: 0;
	border: none;
    color: #2f2f2f;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 28px;
}
/*-- //Services --*/
/*-- gallery --*/
.w3layouts_gallery_grid h4{
	text-transform:uppercase;
	font-size:1.5em;
	color:#fff;
}
.w3layouts_gallery_grid{
	padding:0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color:#ff4f81;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
    margin-right: 3px;
    border-radius: 0;
    font-size: 15px;
    color: #212121;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs {
    margin: 0 0 1em;
}
.nav-tabs > li:nth-child(1) {
	margin-left:43em;
}
.sections-traslados > li:nth-child(1){
	margin-left:0em !important;
}
.nav-tabs > li > a:hover {
    border: none;
}
/*-- team --*/
.w3layouts_team_grid{
    overflow: hidden;
    position: relative;
}
.w3layouts_team_grid_pos{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    right: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.w3layouts_team_grid_pos{
    -webkit-transform: scale3d(0,0,1);
    -moz-transform: scale3d(0,0,1);
    -ms-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.w3_agile_team_grid:hover .w3layouts_team_grid_pos,.w3layouts_gallery_grid:hover .w3layouts_team_grid_pos,
.w3_agile_class_grid:hover .w3layouts_team_grid_pos{
    opacity:1;
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.w3_agile_team_grid:hover .wthree_text,.w3layouts_gallery_grid:hover .wthree_text,
.w3_agile_class_grid:hover .wthree_text{
    opacity: 1;
	-webkit-transform: translateY(0) scale3d(1,1,1);
    -moz-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
    -webkit-transition: transform 400ms ease 380ms;
    -moz-transition: transform 400ms ease 380ms;
    transition: transform 400ms ease 380ms;
}
.wthree_text{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    opacity: 0;
	    -webkit-transform: translateY(0) scale3d(0,0,1);
    -moz-transform: translateY(0) scale3d(0,0,1);
    -ms-transform: translateY(0) scale3d(0,0,1);
    transform: translateY(0) scale3d(0,0,1);
    -webkit-transition: transform 400ms ease 280ms;
    -moz-transition: transform 400ms ease 280ms;
    transition: transform 400ms ease 280ms;
}
.agileits_social_list li{
	display: inline-block;
}
.agileits_social_list li:nth-child(2){
    margin:0 1.5em;
}
.agileits_social_list li a{
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.agileits_social_list li a i{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	line-height: 2.5em;
}
.agileits_social_list li a:hover{
	background:#fff;
}
a.w3_agile_facebook,.w3_facebook{
	background:#3b5998;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter,.w3ls_twitter{
	background:#1da1f2;
}
a.w3_agile_dribble,.w3l_dribbble{
	background:#ea4c89;
}
a.w3_agile_vimeo{
	background:#1ab7ea;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
.agile_social_icons_banner {
    float: right;
    margin:1.6em 2em 0 0;
}
.w3_agile_team_grid{
	text-align:center;
}
.w3_agile_team_grid h4{
	font-size: 1.5em;
    color: #212121;
    margin: 1.5em 0 .2em;
}
.w3_agile_team_grid p{
	color:#58d3f3;
}
/*-- //team --*/
/*-- //gallery --*/

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 55px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/* Responsive design */
@media screen and (max-width: 1920px){
	.nav-tabs > li:nth-child(1) {
		margin-left: 55em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 34em;
	}
}

@media screen and (max-width: 1680px){
	.nav-tabs > li:nth-child(1) {
		margin-left: 46em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 27em;
	}
}
@media screen and (max-width: 1600px){
	.nav-tabs > li:nth-child(1) {
		margin-left: 43em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 20em;
	}
}
@media screen and (max-width: 1440px){
	.callbacks_tabs {
		left: 12%;
	}
	.slider-info1 h3, .slider-info2 h3 {
		width: 60%;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 39em;
	}
	.ftr-grid {
		padding-left: 90px;
	}
	.slider-info,.slider-info1,.slider-info2 {
		min-height: 750px;
	}
}
@media screen and (max-width: 1366px){
	.callbacks_tabs {
		left: 13%;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 36em;
	}
	.ftr-grid {
		padding-left: 60px;
	}
	.ftr-rit {
		padding-right: 80px;
	}
	.slider-info, .slider-info1, .slider-info2 {
		min-height: 700px;
		padding: 120px 0;
	}
	.slider-info1 h3, .slider-info2 h3 {
		font-size:38px;
	}
	.slider-info1 p, .slider-info2 p,.readmore-w3 {
		margin-left: 11em;
	}
	.callbacks_tabs {
		left: 11%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 16em;
	}
}
@media screen and (max-width: 1280px){
	.slider-info, .slider-info1, .slider-info2 {
		min-height: 650px;
		padding: 280px 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 11em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 32em;
	}	
	h3.heading, h2.heading {
		font-size: 35px;
		margin-bottom: 30px;
	}
	.nav-tabs {
		margin: 0 0 3em;
	}
}
@media screen and (max-width: 1080px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 7em;
	}
	.slider-info1 h3, .slider-info2 h3 {
		font-size: 33px;
		margin-left: 2em;
	}
	.slider-info1 p, .slider-info2 p, .readmore-w3 {
		margin-left: 5em;
	}
	.callbacks_tabs {
		left: 6%;
	}
	.slider-info, .slider-info1, .slider-info2 {
		min-height: 630px;
		padding: 230px 0;
	}
	.about span {
		width: 15%;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 26em;
	}
	.nav > li > a {
		padding: 8px 12px;
	}
	.video-info {
		padding: 70px 0;
		margin-top: 0px;
	}
	.gallery, .services, .video-info, .team, .contact, .testimonials, .about {
		padding: 40px 0;
	}
	.ftr-grid {
		padding-left: 30px;
	}
	.callbacks_nav.next {
		left: 94%;
	}
}
@media screen and (max-width: 1024px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 5em;
	}
	.about-right2 {
		right: 3px;
		bottom: -103%;
	}	
	.video-info p {
		margin: 20px auto 40px;
	}
	h3.heading, h2.heading {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.flexslider-info {
		margin: 2em 0em;
	}
	.flexslider-info {
		padding: 3em 0em;
		background: #f3f3f3;
	}
	.address p {
		font-size: 13px;
	}
	.readmore-w3 a {
		margin: 2.5em 0 0;
	}
	.callbacks_nav.next {
		left: 92.5%;
	}
	.slider-info1 h3, .slider-info2 h3 {
		margin-left: 3em;
	}
	.slider-info1 p, .slider-info2 p, .readmore-w3 {
		margin-left: 7.3em;
	}
	.callbacks_tabs {
		left: 9%;
	}
	.flexslider .slides img {
		width: 210px;
		height: 210px;
	}
	.slider-info, .slider-info1, .slider-info2 {
		min-height: 600px;
		padding: 200px 0;
	}
}
@media screen and (max-width: 991px){
	.top-left {
		float: left;
	}
	.services-grid-2 h4, .services-grid-2 h5 {
		font-size: 16px;
		line-height: 33px;
		padding-bottom: 25px;
	}
	.services-info h4 {
		font-size: 13px;
	}
	.services-grid-2 p {
		padding-top: 20px;
		font-size: 14px;
	}
	.agileits_w3layouts_team_grid {
		width: 50%;
		float: left;
		margin-bottom: 70px;
	}
	.w3layouts_gallery_grid {
		width: 25%;
		float: left;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 22em;
	}
	.testimonials-grid-1 {
		width: 33.33%;
		float: left;
	}
	.testimonials-grid-2 {
		width: 66.67%;
		float: left;
	}
	.flexslider .slides img {
		width: 200px;
		height: 200px;
	}
	.about span {
		width: 12%;
		float: left;
	}
	.about-left p {
		margin-right: 0px;
	}
	.about-right1 {
		left: -82px;
		bottom: -38%;
	}
	.about-right2 {
		right: -80px;
		bottom: 3%;
	}
	.video-info {
		margin-top: 120px;
	}
	.ftr-grid {
		width: 33.33%;
		float: left;
	}
	.col-md-2.address {
		width: 20%;
		float: left;
	}
}
@media screen and (max-width: 900px){
	nav#cl-effect-15 ul li {
		padding: 10px 7px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 2em;
	}
	.slider-info1 h3, .slider-info2 h3 {
		width: 80%;
		font-size:30px;
	}
	.slider-info1 p, .slider-info2 p{
		width:80%;
	}
	iframe,.map {
		height: 350px;
	}
	.footer h4 {
		font-size: 19px;
	}
	.add {
		width: 80%;
		float: left;
	}
	.ftr-mid {
		padding: 28px;
	}
	.ftr-grid {
		height: 170px;
	}

}
@media screen and (max-width: 800px){
	.cd-header-buttons {
		top: -94px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 7em;
	}
	.slider-info1 p, .slider-info2 p, .readmore-w3 {
		margin-left: 6em;
	}
	.slider-info, .slider-info1, .slider-info2 {
		min-height: 570px;
	}
	.about-right1 {
		left: -30px;
		bottom: -38%;
	}
	.about-right2 {
		right: 60px;
		bottom: -13%;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 17em;
	}
	.w3layouts_gallery_grid {
		width: 33.33%;
		float: left;
	}
	.ftr-rit {
		padding-right: 0px;
	}
	.ftr-grid {
		padding-left: 0;
	}
	.video-info p {
		width: 70%;
	}
}
@media screen and (max-width: 768px){
	.about-right1 {
		left: -25px;
	}
	.agileits_w3layouts_team_grid:nth-child(3),.agileits_w3layouts_team_grid:nth-child(4){
		margin-bottom:0;
	}
	.nav-tabs {
		margin: 0 0 2em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 15em;
	}
}
@media screen and (max-width: 736px){
	.cd-header-buttons {
		top: -54px;
		right: 265px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-toggle{
		margin: 0px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #ff6096;
	}
	.cd-search-trigger, .cd-nav-trigger {
		width: 40px;
		height: 40px;
	}
	.cd-search-trigger::before {
		width: 14px;
		height: 14px;
	}
	.navbar-default .navbar-brand {
		font-size: 32px;
	}
	.slider-info, .slider-info1, .slider-info2 {
		padding: 200px 0;
	}	
	.services-info-1, .services-info-2, .services-info-3, .services-info-4, .services-info-5, .services-info-6 {
		width: 33.33%;
		float: left;
		margin-bottom:40px;
	}
	.services-info h4,.agileits.w3layouts.services-grid {
		text-align: center;
	}
	.services-grid-2 p {
		text-align: left;
	}
	.about-right1 {
		left: -24px;
	}
	
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		width: 100%;
		margin: 0;
		background: rgba(255, 255, 255, 0.9);
	}
	nav#cl-effect-15 ul li {
		display: block;
		text-align: center;
	}
	.open > .dropdown-menu {
		display: block;
		width: 100%;
		background: rgba(255, 255, 255, 0.9);
	}
}
@media screen and (max-width: 667px){
	.top-middle li {
		margin-left: 5px;
	}
	.slider-info1 h3, .slider-info2 h3, .slider-info1 p, .slider-info2 p {
		width: 80%;
	}
	.slider-info1 h3, .slider-info2 h3 {
		font-size: 27px;
	}
	.slider-info, .slider-info1, .slider-info2 {
		padding: 180px 0;
		min-height: 480px;
	}
	.callbacks_tabs {
		left: 11%;
		top: 85%;
	}	
	.nav-tabs > li:nth-child(1) {
		margin-left: 12em;
	}
	.nav-tabs > li > a {
		font-size: 14px;
	}
	.flexslider .slides img {
		width: 180px;
		height: 180px;
	}
	.contact button.btn.btn-primary {
		width: 29%;
	}
	iframe,.map {
		height: 300px;
	}
	.top-bar {
		top: 11%;
	}
	.callbacks_nav {
		bottom: 260px;
	}
	.callbacks_nav.next {
		left: 90.5%;
	}
	.cd-header-buttons {
		right: 260px;
	}
}
@media screen and (max-width: 640px){
	.top-left li {
		margin-right: 1em;	
	}
	.cd-header-buttons {
		right: 250px;
	}
	.ftr-grid {
		padding: 30px;
		height: auto;
		width: 100%;
	}
}
@media screen and (max-width: 600px){
	.top-left i.fa {
		font-size: 20px;
	}
	.top-left li {
		margin-right: 1em;
	}
	.top-middle i.fa {
		font-size: 15px;
		line-height: 28px;
		width: 28px;
		height: 28px;
	}
	.top-middle li {
		margin-left: -1px;
	}
	.slider-info h3, .slider-info1 h3, .slider-info2 h3 {
		font-size: 22px;
		/* margin-left: 3.5em; */
	}
	.slider-info1 p, .slider-info2 p, .readmore-w3 {
		margin-left: 6em;
	}
	.callbacks_tabs {
		left: 13%;
		top: 83%;
	}
	.video-info ul li a {
		padding: 6px 20px;
	}
	.testimonials-grid-1,.testimonials-grid-2,.ftr-grid {
		width: 100%;
		float: none;
	}
	.testimonials h4, h5 {
		text-align: center;
		margin-top: 20px;
	}
	.ftr-grid {
		padding: 30px;
		height: auto;
	}
	.slider-info1 h3, .slider-info2 h3, .slider-info1 p, .slider-info2 p {
		width: 70%;
	}
	.about-right1,.about-right2{
		position: static;
		width: 100%;
	}
	.about-right2{
		width: 300px;
		height: 300px;
	}
	.video-info {
		margin-top: 0px;
	}
	.cd-header-buttons {
		right: 225px;
	}
	.agileits_w3layouts_team_grid h3 {
		font-size: 17px;
		color: #146eb4;
		font-weight: 600;
	}
}
@media screen and (max-width: 568px){
	.top-left li {
		margin-right: .5em;
		letter-spacing: 0px;
	}
	.readmore-w3 a {
		padding: 8px 12px;
	}
	.w3layouts_gallery_grid h4 {
		font-size: 1.2em;
	}
	.w3l-info1 p {
		margin-top: 0;
		padding-right: 0;
		text-align: center;
	}
	.contact button.btn.btn-primary {
		width: 33%;
		height: 40px;
		font-size: 16px;
	}
	.agile-copy {
		float: none;
	}
	.agileits-social {
		float: none;
		text-align: center;
		margin: .8em 0;
	}
	.nav > li > a {
		padding: 6px;
	}
	.nav-tabs > li > a {
		font-size: 13px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 10em;
	}
	.cd-header-buttons {
		right: 190px;
	}
	.video-info p {
		width: 75%;
	}
}
@media screen and (max-width: 480px){
	.top .top-left, .top .top-middle, .top .top-right {
		width: 100%;
		padding-bottom: 15px;
		text-align: center;
	}
	.top-bar {
		top: 16%;
	}
	.callbacks_nav.next {
		left: 86.5%;
	}
	.slider-info1 h3, .slider-info2 h3, .slider-info1 p, .slider-info2 p {
		line-height: 30px;
	}
	.readmore-w3 {
		margin-left: 13em;
	}
	.callbacks_tabs {
		left: 39%;
		top: 85%;
	}
	.about span {
		width: 17%;
		float: left;
		font-size: 70px;
		margin-top: -15px;
	}
	.video-info p {
		width: 88%;
	}
	.agileits_w3layouts_team_grid h3 {
		font-size: 17px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 7em;
	}
	.w3layouts_gallery_grid {
		width: 50%;
		float: left;
	}
	.navbar-default .navbar-brand {
		font-size: 28px;
	}
}
@media screen and (max-width: 414px){
	.top-middle i.fa {
		font-size: 16px;
		line-height: 33px;
		width: 35px;
		height: 35px;
	}
	.top-left li {
		letter-spacing: 2px;
	}
	.top-bar {
		top: 20%;
	}
	.slider-info, .slider-info1, .slider-info2 {
		padding-top: 219px;
		min-height: 330px;
		padding-bottom: 130px;
	}
	.slider-info1 h3, .slider-info2 h3 {
		margin-left: 3em;
	}
	.slider-info1 p, .slider-info2 p {
		margin-left: 5em;
	}
	.readmore-w3 {
		margin-left: 10em;
	}
	.readmore-w3 a {
		margin: 1.5em 0 0;
	}
	.callbacks_tabs {
		left: 37%;
		top: 90%;
	}
	.gallery, .services, .video-info, .team, .contact, .testimonials, .about {
		padding: 30px 0;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 4em;
	}
	.contact button.btn.btn-primary {
		width: 45%;
	}
	.footer-w3layouts p {
		line-height: 28px;
		letter-spacing: 1px;
	}
	
	.callbacks_nav {
		width: 45px;
		height: 45px;
		background-size: 87px;
	}
	.cd-header-buttons {
		left: 0;
	}
	.navbar-default .navbar-brand {
		margin-left: 85px;
	}
}
@media screen and (max-width: 384px){
	.video-info h3.heading1 {
		font-size: 25px;
	}
	.agileits_w3layouts_team_grid {
		width: 100%;
		float: none;
		margin-top: 60px;
		margin-bottom: 0;
	}
	.w3layouts_gallery_grid {
		width: 100%;
		float: none;
	}
	.callbacks_nav.next {
		left: 84.5%;
	}
	.testimonials h4, h5 {
		font-size: 23px;
	}
	.callbacks_nav {
		bottom: 316px;
		width: 40px;
		height: 40px;
		background-size: 77px;
	}
	.navbar-default .navbar-brand {
		margin-left: 72px;
	}
	.video-info p {
		width: 95%;
	}
}
@media screen and (max-width: 375px){
	.flex-control-nav {
		right: 41%;
	}
	.contact button.btn.btn-primary {
		width: 50%;
	}
	.slider-info1 p, .slider-info2 p {
		margin-left: 4em;
	}
	.readmore-w3 {
		margin-left: 9em;
	}
	.navbar-default .navbar-brand {
		margin-left: 65px;
	}
}
@media screen and (max-width: 320px){
	.top-left li {
		letter-spacing: 0px;
	}
	.top-bar {
		top: 18%;
	}
	.slider-info1 h3, .slider-info2 h3 {
		margin-left: 2em;
	}
	.slider-info1 h3, .slider-info2 h3, .slider-info1 p, .slider-info2 p {
		width: 68%;
	}
	.slider-info1 p, .slider-info2 p {
		margin-left: 3.5em;
	}
	.readmore-w3 {
		margin-left: 7.5em;
	}
	.callbacks_nav.next {
		left: 83.5%;
	}
	.about span {
		width: 19%;
		font-size: 61px;
	}
	.about-right2 {
		width: 244px;
		height: 244px;
	}
	.video-info p {
		width: 100%;
	}
	.video-info h3.heading1 {
		font-size: 21px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 1em;
	}
	.contact button.btn.btn-primary {
		width: 60%;
		height: 34px;
		font-size: 14px;
	}
	.callbacks_nav.prev {
		left: 11px;
	}
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		width: 100%;
		margin: 0;
		background: rgba(255, 255, 255, 0.9);
	}
	.cd-header-buttons {
		right: 237px;
	}
	.navbar-default .navbar-brand {
		font-size: 26px;
		margin-left: 53px;
	}
}
/* //Responsive design */